# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.md text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf
*.crt text eol=lf
*.key text eol=lf
*.srl text eol=lf
*.service text eol=lf
*.cnf text eol=lf
*.conf text eol=lf
*.config text eol=lf
*.kubeconfig text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.yaml text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary