[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
IP.1 = 127.0.0.1
IP.2 = 10.240.0.11
IP.3 = 10.240.0.12
IP.4 = 10.240.0.13
IP.5 = 10.240.0.14
IP.6 = 10.240.0.15